body{ background-image: url("http://s6.favim.com/mini/150320/emoji-heart-Favim.com-2578866.jpg");}
h1 {
  color: grey;
  background-color: pink;

}
a:link, a:visited {
    background-color: pink;
    color: grey;
    padding: 14px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
