body{ background-image: url("https://s-media-cache-ak0.pinimg.com/originals/4e/78/f1/4e78f1bf97146fab7d697279399452f5.gif");
  background-size: 300px;
}

h1{
  color: purple;
  text-align: center;
  background-color: black;
}

a:link, a:visited {
    background-color: black;
    color: purple;
    padding: 14px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: black;
}